# Lists

In [ ]:
1. Python program to accept list from user and print alternate element of the list

In [1]:
l = []
n = int(input("Enter no of elements:"))
for i in range(n):
    ele = int(input("Enter element:"))
    l.append(ele)
print("The list:",l)
print("Printing alternate elements of the list:")
for i in range(0,len(l),2):
    print(l[i])

Enter no of elements:7
Enter element:1
Enter element:2
Enter element:3
Enter element:4
Enter element:5
Enter element:6
Enter element:7
The list: [1, 2, 3, 4, 5, 6, 7]
Printing alternate elements of the list:
1
3
5
7

In [ ]:
2. Program to remove element "3" from given list : l = [1,2,3,4,5,6]

In [2]:
l = [1,2,3,4,5,6]
print("The List:",l)
l.remove(3)
print("Updated List:",l)

The List: [1, 2, 3, 4, 5, 6]
Updated List: [1, 2, 4, 5, 6]

In [ ]:
3. Program to insert the element "Python" at index 3 in the given list: l =["Java","PHP",".Net","Angular"]

In [3]:
l =["Java","PHP",".Net","Angular"]
print("The List:",l)
l.insert(2,"Python")
print("Updated List:",l)

The List: ['Java', 'PHP', '.Net', 'Angular']
Updated List: ['Java', 'PHP', 'Python', '.Net', 'Angular']

# Tuples

In [ ]:
4. Python program to perform slicing in the given tuple.
Data: t = ("Python", 1, 2, 3, "Java", 'A', 'B')
Expected Output: 
    ('Python' ,2 , 'Java' ,'B')
    (1, 2, 3, 'Java')
    B

In [4]:
t = ("Python", 1, 2, 3, "Java", 'A', 'B')
print("The Tuple:",t)
print(t[::2])
print(t[1:5])
print(t[-1])

The Tuple: ('Python', 1, 2, 3, 'Java', 'A', 'B')
('Python', 2, 'Java', 'B')
(1, 2, 3, 'Java')
B

In [ ]:
5. Python program to count number of elements in given tuple: t = (1,5,8,2,8,'a','B',7,5,6.1)

In [5]:
t = (1,5,8,2,8,'a','B',7,5,6.1)
print("The Tuple:",t)
print("Count of elements:")
for i in t:
    print("Count of",i,":",t.count(i))

The Tuple: (1, 5, 8, 2, 8, 'a', 'B', 7, 5, 6.1)
Count of elements:
Count of 1 : 1
Count of 5 : 2
Count of 8 : 2
Count of 2 : 1
Count of 8 : 2
Count of a : 1
Count of B : 1
Count of 7 : 1
Count of 5 : 2
Count of 6.1 : 1

In [ ]:
6. Python Program to convert tuple into list.

In [6]:
t = (1,5,8,2,8,'a','B',7,5,6.1)
print("The Tuple:",t)
l = list(t)
print("Converted List:",l)

The Tuple: (1, 5, 8, 2, 8, 'a', 'B', 7, 5, 6.1)
Converted List: [1, 5, 8, 2, 8, 'a', 'B', 7, 5, 6.1]

# Dictionary

In [ ]:
7. Python program to convert list into dictionary
Data:
    List1 [1,2,3,4,5]
    List2 ['A','B','C','D','E']
Expected Output:
    List1 : [1, 2, 3, 4, 5]
    List2 : ['A', 'B', 'C', 'D', 'E']
    Converted Dictionary : {1: 'A', 2: 'B', 3: 'C', 4: 'D', 5: 'E'}

In [7]:
List1 = [1,2,3,4,5]
List2 = ['A','B','C','D','E']
print("List1 :",List1)
print("List2 :",List2)
Dictionary = dict(zip(List1,List2))
print("Converted Dictionary :",Dictionary)

List1 : [1, 2, 3, 4, 5]
List2 : ['A', 'B', 'C', 'D', 'E']
Converted Dictionary : {1: 'A', 2: 'B', 3: 'C', 4: 'D', 5: 'E'}

In [ ]:
8. Python program to print keys from a given dictionary and print keys into a list
Data:
    Dictionary {1: 'Ford', 2: 'Renault', 3: 'BMW'}
    
Expected Output:
    The Dictionary : {1: 'Ford', 2: 'Renault', 3: 'BMW'}
    Keys of the Dictionary :
    1
    2
    3
    [1, 2, 3]

In [8]:
d = {1:"Ford",2:"Renault",3:"BMW"}
print("The Dictionary :",d)
print("Keys of the Dictionary :")
for i in d:
    print(i)
print(list(d.keys()))

The Dictionary : {1: 'Ford', 2: 'Renault', 3: 'BMW'}
Keys of the Dictionary :
1
2
3
[1, 2, 3]

In [ ]:
9. Python program to print values from a given dictionary and print values into a list
Data:
    Dictionary {1: 'Ford', 2: 'Renault', 3: 'BMW'}
    
Expected Output:
    The Dictionary : {1: 'Ford', 2: 'Renault', 3: 'BMW'}
    Values of the Dictionary :
    Ford
    Renault
    BMW
    ['Ford', 'Renault', 'BMW']

In [9]:
d = {1:"Ford",2:"Renault",3:"BMW"}
print("The Dictionary :",d)
print("Values of the Dictionary :")
for i in d:
    print(d[i])
print(list(d.values()))

The Dictionary : {1: 'Ford', 2: 'Renault', 3: 'BMW'}
Values of the Dictionary :
Ford
Renault
BMW
['Ford', 'Renault', 'BMW']