In [1]:
import pymysql

# Connecting to DataBase

In [2]:
def createconn():
    return pymysql.connect(host="localhost",database="nividb",user="root",password="",port=3306)

# Creating Table

In [3]:
def createtable():
    conn = createconn()
    cursor = conn.cursor()
    query = "create table student(sid int primary key auto_increment,name VARCHAR(50),email VARCHAR(50),city VARCHAR(50))"
    cursor.execute(query)
    conn.commit()
    print("Table Created!!")
    conn.close()

createtable()

Table Created!!

# Inserting Values into Table

In [9]:
def insertdata(name,email,city):
    conn = createconn()
    cursor = conn.cursor()
    args = (name,email,city)
    query = "insert into student(name,email,city) values (%s,%s,%s)"
    cursor.execute(query,args)
    conn.commit()
    print("Data inserted into table")
    conn.close()
    
n = input("Enter Name:")
e = input("Enter EmailId:")
c = input("Enter City:")

insertdata(n,e,c)

Enter Name:Nikki
Enter EmailId:nik97@gmail.com
Enter City:Trichy
Data inserted into table

# Fetching All Data from Table

In [10]:
def showalldata():
    conn = createconn()
    cursor = conn.cursor()
    query = "select * from student"
    cursor.execute(query)
    result = cursor.fetchall()
    for i in result:
        print(i)
        
showalldata()

(1, 'R.Nivithra', 'rnivithra1999@gmail.com', 'Chennai')
(2, 'Nitesh', 'NiteshR@gmail.com', 'Banglore')
(3, 'Thenmozhi', 'then1966@gmail.com', 'Pune')
(4, 'Rajendran', 'rrajendran@gmail.com', 'Delhi')
(5, 'Ranjini', 'ranjini@gmail.com', 'Kolkatta')
(6, 'Nikki', 'nik97@gmail.com', 'Trichy')

# Fetching Data by Id

In [11]:
def showalldatabyid(sid):
    conn = createconn()
    cursor = conn.cursor()
    args = (sid)
    query = "select * from student where sid=%s"
    cursor.execute(query,args)
    result = cursor.fetchall()
    for i in result:
        print(i)
        
showalldata()
sid = int(input("Enter student Id:"))
showalldatabyid(sid)

(1, 'R.Nivithra', 'rnivithra1999@gmail.com', 'Chennai')
(2, 'Nitesh', 'NiteshR@gmail.com', 'Banglore')
(3, 'Thenmozhi', 'then1966@gmail.com', 'Pune')
(4, 'Rajendran', 'rrajendran@gmail.com', 'Delhi')
(5, 'Ranjini', 'ranjini@gmail.com', 'Kolkatta')
(6, 'Nikki', 'nik97@gmail.com', 'Trichy')
Enter student Id:1
(1, 'R.Nivithra', 'rnivithra1999@gmail.com', 'Chennai')

# Update Data in Table

In [12]:
def updatedata(name,email,city,sid):
    conn = createconn()
    cursor = conn.cursor()
    args = (name,email,city,sid)
    query= "Update student set name=%s,email=%s,city=%s where sid=%s "
    cursor.execute(query,args)
    conn.commit()
    print("Data Updated!!")
    conn.close()
    
showalldata()
sid=int(input("Enter student Id:"))
name=input("Enter Name:")
email=input("Enter EmailId:")
city=input("Enter City:")
updatedata(name,email,city,sid)
showalldata()

(1, 'R.Nivithra', 'rnivithra1999@gmail.com', 'Chennai')
(2, 'Nitesh', 'NiteshR@gmail.com', 'Banglore')
(3, 'Thenmozhi', 'then1966@gmail.com', 'Pune')
(4, 'Rajendran', 'rrajendran@gmail.com', 'Delhi')
(5, 'Ranjini', 'ranjini@gmail.com', 'Kolkatta')
(6, 'Nikki', 'nik97@gmail.com', 'Trichy')
Enter student Id:3
Enter Name:Thenmozhi.R
Enter EmailId:ThenRaj66@gmail.com
Enter City:Hyderabad
Data Updated!!
(1, 'R.Nivithra', 'rnivithra1999@gmail.com', 'Chennai')
(2, 'Nitesh', 'NiteshR@gmail.com', 'Banglore')
(3, 'Thenmozhi.R', 'ThenRaj66@gmail.com', 'Hyderabad')
(4, 'Rajendran', 'rrajendran@gmail.com', 'Delhi')
(5, 'Ranjini', 'ranjini@gmail.com', 'Kolkatta')
(6, 'Nikki', 'nik97@gmail.com', 'Trichy')

# Delete Data from Table

In [13]:
def deletedata(sid):
    conn = createconn()
    cursor = conn.cursor()
    args = (sid)
    query = "delete from student where sid=%s"
    cursor.execute(query,args)
    conn.commit()
    print("Data Deleted!!")
    conn.close()
    
showalldata()
sid = int(input("Enter student Id:"))
deletedata(sid)
showalldata()

(1, 'R.Nivithra', 'rnivithra1999@gmail.com', 'Chennai')
(2, 'Nitesh', 'NiteshR@gmail.com', 'Banglore')
(3, 'Thenmozhi.R', 'ThenRaj66@gmail.com', 'Hyderabad')
(4, 'Rajendran', 'rrajendran@gmail.com', 'Delhi')
(5, 'Ranjini', 'ranjini@gmail.com', 'Kolkatta')
(6, 'Nikki', 'nik97@gmail.com', 'Trichy')
Enter student Id:6
Data Deleted!!
(1, 'R.Nivithra', 'rnivithra1999@gmail.com', 'Chennai')
(2, 'Nitesh', 'NiteshR@gmail.com', 'Banglore')
(3, 'Thenmozhi.R', 'ThenRaj66@gmail.com', 'Hyderabad')
(4, 'Rajendran', 'rrajendran@gmail.com', 'Delhi')
(5, 'Ranjini', 'ranjini@gmail.com', 'Kolkatta')