In [1]:
1. Write a Python program to print convert a list into a tuple.
    Data:
        x = [1,2]
    Expected Output:
        x - [1, 2]
        <class 'list'>
        y - (1, 2)
        <class 'tuple'>

In [1]:
x=[1,2]
print(x)
print(type(x))
y=tuple(x)
print(y)
print(type(y))

[1, 2]
<class 'list'>
(1, 2)
<class 'tuple'>

In [2]:
2. Write a Python program to create a tuple with different data types.
    Data:
        x = ("tuples",3.2, 1)
    Expected Output:
        ('tuples', 3.2, 1)

In [2]:
x=("Tuple Demo",9,4.5)
print(type(x))
print("The Tuple:",x)

<class 'tuple'>
The Tuple: ('Tuple Demo', 9, 4.5)

In [3]:
3. Write a Python program to create a tuple with numbers and print the items one by one.
    Data:
        x = 5, 10, 15, 20, 25
    Expected Output:
        <class 'tuple'> 
        (5, 10, 15, 20, 25)
        5
        10
        15
        20
        25

In [3]:
x=(5,10,15,20,25)
print(type(x))
for i in x:
    print(i)

<class 'tuple'>
5
10
15
20
25

In [4]:
4. Write a Python program to convert a tuple of characters into a string.
    Data:
        x = ('v', 'o', 'l', 'a', 't', 'a', 'l', 'i', 't', 'y')
    Expected Output:
        volatility

In [4]:
x = ('v', 'o', 'l', 'a', 't', 'i', 'l', 'i', 't', 'y')
s=''
for i in x:
    s+=i
    
print(s)

volatility

In [5]:
5. Write a Python program to convert a tuple into a list.
    Data:
        x=(1,2,3)
    Expected Output:
        (1, 2, 3)
        [1, 2, 3]

In [5]:
x=(1,2,3)
y=list(x)
print(x)
print(y)

(1, 2, 3)
[1, 2, 3]

In [6]:
6. Write a Python program to remove an element from a tuple.
    Data:
        x = ("a","b","c","d")
    Expected Output:
        ('a', 'b', 'd')

In [6]:
x=('a','b','c','d')
y=list(x)
print("The Tuple:",x)
s=str(input("Enter the element you want to remove: "))
for i in y:
    if i==s:
        y.remove(i)
        
x=tuple(y)
print("After removing the Tuple will become:",x)

The Tuple: ('a', 'b', 'c', 'd')
Enter the element you want to remove: c
After removing the Tuple will become: ('a', 'b', 'd')

In [7]:
7. Write a Python program to find the length of a tuple.
    Data:
        x = ("positions")
    Expected Output:
        ('p', 'o', 's', 'i', 't', 'i', 'o', 'n', 's')
        9

In [7]:
x=('p','o','s','i','t','i','o','n','s')
print(x)
print(len(x))

('p', 'o', 's', 'i', 't', 'i', 'o', 'n', 's')
9

In [8]:
8. Write a Python program to convert a tuple into a dictionary.
    Data:
        x = ((2, "w"),(3, "r"))
    Expected Output:
        {'w': 2, 'r': 3}

In [8]:
x = ((2, "w"),(3, "r"))
print(dict((b,a) for a,b in x))

{'w': 2, 'r': 3}

In [9]:
9. Write a Python program to reverse the tuple elements.
    Data:
        x = ("Baskar")
        x = (5, 10, 15, 20)
    Expected Output:
        ('r', 'a', 'k', 's', 'a', 'B')
        (20, 15, 10, 5)

In [9]:
x=('P','y','t','h','o','n')
y=list(x)
y.sort(reverse= True)
x=tuple(y)
print(x)

a=(5,10,15,20)
b=list(a)
b.sort(reverse= True)
a=tuple(b)
print(a)

('y', 't', 'o', 'n', 'h', 'P')
(20, 15, 10, 5)

In [10]:
10. Write a Python program to unpack a tuple in several variables.  
    Data:
        x = 4, 8, 3
    Expected Output:
        (4, 8, 3)
        15

In [10]:
x = 4, 8, 3 
print(x)
n1, n2, n3 =x
print(n1 + n2 + n3)

(4, 8, 3)
15

In [1]:
11. Write a Python program to create a nested tuple.
    Data:
        x = ("Boss", [8, 4, 6], (1, 2, 3)) 
    Expected Output:
        ('Boss', [8, 4, 6], (1, 2, 3))

In [11]:
x = ("Python",[8,4,6],(1,2,3))
x

('Python', [8, 4, 6], (1, 2, 3))

In [2]:
12. Write a Python program to convert a string into a tuple.
    Data:
        x = ("hello")
    Expected Output:
        <class 'str'>
        <class 'tuple'>

In [12]:
x = ("hello")
print(x,"is of type",type(x))
y = (x,)
print(y,"is of type",type(y))

hello is of type <class 'str'>
('hello',) is of type <class 'tuple'>

In [3]:
13. Write a Python program to access tuple elements using index.
    Data:
        x = ('B','a','s','k','a','r')
    Expected Output:
        x[0] is : B
        x[5] is : r

In [13]:
x=('P','y','t','h','o','n')
print("The Tuple,x:",x)

print("x[0] is:",x[0])
print("x[1] is:",x[1])
print("x[2] is:",x[2])
print("x[3] is:",x[3])
print("x[4] is:",x[4])
print("x[5] is:",x[5])

The Tuple,x: ('P', 'y', 't', 'h', 'o', 'n')
x[0] is: P
x[1] is: y
x[2] is: t
x[3] is: h
x[4] is: o
x[5] is: n

In [4]:
14. Write a Python program to access nested tuple elements using index. 
    Data:
        x = ("Boss", [8, 4, 6], (1, 2, 3)) 
    Expected Output:
        x[0][3] is : s
        x[1][1] is : 4

In [14]:
x = ("Boss",[8,4,6],(1,2,3))
print("The Tuple:",x)
print("x[0]:",x[0])
print("x[0][3]:",x[0][3])
print("x[1]:",x[1])
print("x[1][2]:",x[1][2])
print("x[2]:",x[2])
print("x[2][0]:",x[2][0])

The Tuple: ('Boss', [8, 4, 6], (1, 2, 3))
x[0]: Boss
x[0][3]: s
x[1]: [8, 4, 6]
x[1][2]: 6
x[2]: (1, 2, 3)
x[2][0]: 1

In [5]:
15. Write a Python program to access tuple elements using negative index.
    Data:
        x = ('B','a','s','k','a','r')
    Expected Output:
        x[-1] is : r
        x[-6] is : B

In [15]:
x=('P','y','t','h','o','n')
print("The tuple:",x)
print("x[-6] is:",x[-6])
print("x[-5] is:",x[-5])
print("x[-4] is:",x[-4])
print("x[-3] is:",x[-3])
print("x[-2] is:",x[-2])
print("x[-1] is:",x[-1])

The tuple: ('P', 'y', 't', 'h', 'o', 'n')
x[-6] is: P
x[-5] is: y
x[-4] is: t
x[-3] is: h
x[-2] is: o
x[-1] is: n

In [6]:
16. Write a Python program to use + and * operators in a tuple and print the results in tuple.
    Data:
        x : (1, 12, 123)
        y : (4, 9)    
    Expected Output:
        z = x + y : (1, 12, 123, 4, 9)
        z * 3 : (1, 12, 123, 4, 9, 1, 12, 123, 4, 9, 1, 12, 123, 4, 9)

In [17]:
x = (1,12,123)
y = (4,9)
print("x : ",x)
print("y : ",y)
z=x+y
print("z = x + y :",z)
print("z * 3 = ",z*3)

x :  (1, 12, 123)
y :  (4, 9)
z = x + y : (1, 12, 123, 4, 9)
z * 3 =  (1, 12, 123, 4, 9, 1, 12, 123, 4, 9, 1, 12, 123, 4, 9)

In [7]:
17. Write a Python program to print each elements of a tuple using for loop.
    Data:
        Tuple x = ('boss','sai')
    Expected Output:
        Hello boss
        Hello bala

In [18]:
x=("Baskar","Micheal","Ranjana")

for i in x:
    print("Hello",i)

Hello Baskar
Hello Micheal
Hello Ranjana

In [8]:
18. Write a Python program to print the count of 'p' and the index of 'l' from the given tuple using tuple methods.
    Data: 
        x = ('a', 'p', 'p', 'l', 'e')
    Expected Output:
        Count of p is : 2
        Index of l is : 3

In [19]:
x=('a','p','p','l','e')
print("Count of p:",x.count('p'))
print("Index of l:",x.index('l'))

Count of p: 2
Index of l: 3

In [9]:
19. Write a Python program to update an element of a given tuple from 7 to 77.
    Data:
        x = (1, [9, 8, 7], "boss")
    Expected Output:
        (1, [9, 8, 7], 'boss')
        (1, [9, 8, 77], 'boss')

In [20]:
x=(1,[9,8,7],"boss")
print(x)
x[1][2]=77
print("After updating:",x)

(1, [9, 8, 7], 'boss')
After updating: (1, [9, 8, 77], 'boss')

In [ ]:
20. Write a Python program to slice a tuple.
    Data: 
        x = (11, 22, 33, 44, 55, 66, 77, 88, 99)
    Expected Output:
        (11, 22, 33, 44, 55, 66, 77, 88, 99)
        (33, 44, 55)
        (11, 22, 33, 44)
        (55, 66, 77, 88, 99)
        (55, 66, 77, 88)
        (11, 22, 33, 44, 55, 66, 77, 88, 99)

In [21]:
x = (11, 22, 33, 44, 55, 66, 77, 88, 99)
print(x)
print(x[2:5])
print(x[:4])
print(x[4:])
print(x[4:8])
print(x)

(11, 22, 33, 44, 55, 66, 77, 88, 99)
(33, 44, 55)
(11, 22, 33, 44)
(55, 66, 77, 88, 99)
(55, 66, 77, 88)
(11, 22, 33, 44, 55, 66, 77, 88, 99)