In [1]:
1. Write a Python program to unzip a list of tuples into individual lists.
    Data:
        x = [(1,2), (3,4), (8,9)]
    Expected Output:
        [(1, 3, 8), (2, 4, 9)]

In [1]:
x = [(1,2), (3,4), (8,9)]
print("The Tuple:",x)
print("Formed List:",list(zip(*x)))

The Tuple: [(1, 2), (3, 4), (8, 9)]
Formed List: [(1, 3, 8), (2, 4, 9)]

In [2]:
2. Write a Python program to print a tuple with string formatting.
    Data:
        x = (10, 20, 30)
    Expected Output:
        This is a tuple (10, 20, 30)

In [2]:
x = (10 , 20 , 30)
print("This is a tuple",str(x))

This is a tuple (10, 20, 30)

In [3]:
3. Write a Python program to replace last values of tuples in a list.
    Data:
        x= [(80, 60, 40), (40, 90, 60), (20, 40, 90)]
    Expected Output:
        [(80, 60, 100), (40, 90, 100), (20, 40, 100)]

In [3]:
x= [(80, 60, 40), (40, 90, 60), (20, 40, 90)]
print("The List of tuples:",x)
y=[t[:-1]+(100,) for t in x]
print("After replacing:",y)

The List of tuples: [(80, 60, 40), (40, 90, 60), (20, 40, 90)]
After replacing: [(80, 60, 100), (40, 90, 100), (20, 40, 100)]

In [4]:
4. Write a Python program to remove an empty tuple(s) from a list of tuples.
    Data:
        X = [(), (), ('',), ('a', 'b'), ('c', 'd', 'e'), ('f')] 
    Expected Output:
        [('',), ('a', 'b'), ('c', 'd', 'e'), 'f']

In [4]:
X = [(), (), ('',), ('a', 'b'), ('c', 'd', 'e'), ('f')] 
Y = [t for t in X if t]
print("Original Tuple:",X)
print("After removing empty tuples:",Y)

Original Tuple: [(), (), ('',), ('a', 'b'), ('c', 'd', 'e'), 'f']
After removing empty tuples: [('',), ('a', 'b'), ('c', 'd', 'e'), 'f']

In [5]:
5. Write a Python program to sort a tuple by its element specified in float.
    Data:
        x = [('item1', '29.20'), ('item2', '49.10'), ('item3', '33.5')]
    Expected Output:
        [('item2', '49.10'), ('item3', '33.5'), ('item1', '29.20')]

In [5]:
x = [('item1', '29.20'), ('item2', '49.10'), ('item3', '33.5')]
print("Original list of tuples:",x)
y = sorted(x ,key=lambda x: float(x[1]),reverse=True)
print("After sorting:",y)

Original list of tuples: [('item1', '29.20'), ('item2', '49.10'), ('item3', '33.5')]
After sorting: [('item2', '49.10'), ('item3', '33.5'), ('item1', '29.20')]

In [2]:
6. Write a Python program to count the elements in a list until an element is a tuple.
    Data:
        x = [10,20,30,(10,20),40]
        y = 0
    Expected Output:
        3

In [6]:
x = [10,20,30,(10,20),40]
count = 0
print(x)
for i in x:
    if isinstance(i,tuple):
        break
    count +=1
    
print(count)

[10, 20, 30, (10, 20), 40]
3

In [3]:
7. Write a Python program to Sort a tuple of tuples by 2nd item.
    Data:
        x = (('a', 23),('b', 37),('c', 11), ('d',29))
    Expected Output:
        (('c', 11), ('a', 23), ('d', 29), ('b', 37))

In [7]:
x = (('a', 23),('b', 37),('c', 11), ('d',29))
print("Original Tuple:",x)
y = tuple(sorted(x, key=lambda x:x[1]))
print("Sorted Tuple:",y)

Original Tuple: (('a', 23), ('b', 37), ('c', 11), ('d', 29))
Sorted Tuple: (('c', 11), ('a', 23), ('d', 29), ('b', 37))

In [4]:
8. Write a Python program to Check whether all items in a tuple are the same.
    Data:
        y = (45, 45, 45, 45)
    Expected Output:
        True

In [8]:
y = (45,45,45,45)
print(all(i==y[0] for i in y))

True

In [5]:
9. Write a Python program to calculate the area of a circle by sending the value of radius in a tuple.
    Data:
        a = (5)
    Expected Output:
        78.57142857142857

In [9]:
a=(5,)
area=float((22/7)*(a[0]*a[0]))
print("Area:",area)

Area: 78.57142857142857

In [6]:
10. Write a Python program to calculate the circumference of a circle by sending the value of radius in a tuple.
    Data:
        a = (2)
    Expected Output:
        12.571428571428571

In [10]:
a=(2,)
c=float((22/7)*(2*a[0]))
print("Circumference:",c)

Circumference: 12.571428571428571

In [7]:
11. Write a Python program to calculate the perimeter of a square by sending the value of side in a tuple.
    Data:
        a = (3)
    Expected Output:
        12

In [11]:
a=(3,)
p=4*a[0]
print("Perimeter of square:",p)

Perimeter of square: 12

In [8]:
12. Write a Python program to calculate the area of a traingle by sending the value of height and base in a tuple.
    Data:
        h = (23)
        b = (34)
    Expected Output:
        391.0

In [12]:
h = (23,)
b = (34,)
at=0.5*h[0]*b[0]
print("Area of triangle:",at)

Area of triangle: 391.0

In [9]:
13. Write a Python program to create a tuple with elements of different data types.
    Expected Output:
        ()
        (1, 2, 3)
        (1, 'Hello', 3.4)
        ('HI', [8, 4, 6], (1, 2, 3))

In [13]:
t1=()
t2=(1,2,3)
t3=(1,'Hello',3.4)
t4=('HI',[8,4,6],(1,2,3))
print("",t1,"\n",t2,"\n",t3,"\n",t4)

 ()
 (1, 2, 3)
 (1, 'Hello', 3.4)
 ('HI', [8, 4, 6], (1, 2, 3))

In [10]:
14. Write a Python program to unpack a tuple in several variables.
    Data:
        x = 3, 4.6, "dog"
    Expected Output:
        (3, 4.6, 'dog')
        3
        4.6
        dog

In [14]:
x=(3,4.6,"dog")
print(x)
var1,var2,var3=x
print(var1)
print(var2)
print(var3)

(3, 4.6, 'dog')
3
4.6
dog

In [1]:
15. Write a Python program to update the value "6" to "9" which is present in a tuple using index. 
    Data:
        x = (4, 2, 3, [6, 5])
    Expected Output:
        (4, 2, 3, [9, 5])

In [15]:
x = (4, 2, 3, [6, 5])
print("The tuple:",x)
x[3][0]=9
print("After updation:",x)

The tuple: (4, 2, 3, [6, 5])
After updation: (4, 2, 3, [9, 5])

In [2]:
16. Write a Python program to check whether an element is present in a given tuple using the keyword in. Print the elements of a tuple one by one.
    Data:
        x = ("Bihar", "Odisha", "Assam") 
    Expected Output:
        yes Bihar is present in the given tuple

        Bihar
        Odisha
        Assam

In [3]:
x = ("Bihar", "Odisha", "Assam") 
print("The tuple:",x)
if "Bihar" in x:
    print("yes Bihar is present in the given tuple\n")
    
for i in x:
    print(i)

The tuple: ('Bihar', 'Odisha', 'Assam')
yes Bihar is present in the given tuple

Bihar
Odisha
Assam

In [3]:
17. Write a Python program to check whether an element is not present in a given tuple using the keyword not in. Print the elements of a tuple one by one.
    Data:
        x = ("Bihar", "Odisha", "Assam")
    Expected Output:
        False
        True

In [2]:
x = ("Bihar", "Odisha", "Assam") 
print("The tuple:",x)
print("Kerala" not in x)
print("Assam" not in x)

The tuple: ('Bihar', 'Odisha', 'Assam')
True
False

In [4]:
''' 18. Write a Python program to print the following output from given tuple (5 > 3 and 5 < 10 )and (5 > 3 or 5 > 10) is True or False.
    Expected Output:
        Both statements are True
        Any one statement is True '''

In [18]:
t = (5,3,10)
if t[0] > t[1] and t[0] < t[2]:
    print("Both statements are True")
else:
    print("Any one statement is False")
    
if t[0] > t[1] or t[0]> t[2]:
    print("Any one statement is True")
else:
    print("Both statements are False")

Both statements are True
Any one statement is True

In [5]:
19. Write a Python program to print an element from a given tuple using index and negative index.
    Data:
        x = ("boss", "bala", "suresh")
    Expected Output:
        bala
        suresh

In [19]:
x = ("boss", "bala", "suresh")
print("The tuple:",x)
print(x[0])
print(x[-1])
print(x[-2])

The tuple: ('boss', 'bala', 'suresh')
boss
suresh
bala

In [ ]:
20. Write a Python program to print the elements of a given tuple using range of indices and range of negative indices.
    Data:
        x = ("Magnum", "Pistah", "Strawberry", "Vennila", "Chocobar", "Blackberry", "Salad")
    Range of Indexes,Range of Negative Indexes.
    Expected Output:
        ('Strawberry', 'Vennila', 'Chocobar', 'Blackberry', 'Salad')
        ('Vennila', 'Chocobar', 'Blackberry')

In [20]:
x = ("Magnum", "Pistah", "Strawberry", "Vennila", "Chocobar", "Blackberry", "Salad")
print(x[2:])
print(x[-4:-1])

('Strawberry', 'Vennila', 'Chocobar', 'Blackberry', 'Salad')
('Vennila', 'Chocobar', 'Blackberry')